*{
    padding: 0 auto;
}

.Nav-bar{
    flex-direction: column;
    background-color:grey ;
    position: absolute;
    width: 80%;
    height: 100vh;
    padding-top: 80px;
    top: 0;
    right: -900px;
    transition: all 0.3s ease;

}
.Nav-bar.active{
    right: 0;
}

.Nav-section button{
    transition: transform 0.3s ease;
}
.Nav-section button:hover{
    transform: scale(1.2);

}
.menu-btn{
    display: block;
}
.Nav-bar a {
    text-align: left;
    width: 100%;
    color: white;
    padding: 10px 30px;
    border-bottom: 1px solid white;
}
.hero-section{
    
    background: rgba(255,255,255,0.95);
}

.About{
    display: flex;
    flex-direction: column;
    
} 
.info-services{
    flex-wrap: wrap;
}  